<?xml version="1.0"?>
<launch>

    <arg name="bag" default="/home/jaguar/beach_3_2021-06-08-18-47-12.bag"/>
    
    <!-- Play bag  -->
    <node pkg="rosbag" type="play" name="bag_player" output="screen" args="$(arg bag)"/>

    <!-- Convert lidar packets to pointcloud  -->
    <include file="$(find ouster_ros)/ouster.launch">
        <arg name="replay" value="true" />
        <arg name="metadata" value="/home/jaguar/ouster_metadata.json" />
    </include>

    <!-- Uncompress images -->
    <!-- <node pkg="image_transport" type="republish" name="left_img_decompresor" output="screen" args="compressed in:=/zed_node/left/image_rect_color raw out:=/zed_node/left/image_rect_color">
    <node pkg="image_transport" type="republish" name="right_img_decompresor" output="screen" args="compressed in:=/zed_node/right/image_rect_color raw out:=/zed_node/right/image_rect_color">
    <node pkg="image_transport" type="republish" name="depth_img_decompresor" output="screen" args="compressed in:=/zed_node/depth/depth_registered raw out:=/zed_node/depth/depth_registered"> -->

</launch>
